.register-wrapper
  %h4
    Registrering för Säljare
    %ul.list-inline.intro-social-buttons
      %li
        = link_to new_seller_path, class: 'btn btn-lg btn-default no-click' do
          %i.fa.fa-tty.fa-fw
          Säljare
      %li
        = link_to new_buyer_path, class: 'btn btn-lg btn-default' do
          %i.fa.fa-shopping-cart.fa-fw
          Inköpare
  = render :partial => "form"
