.row
  .col-md-3
    .thumbnail.profile
      = image_tag 'no-profile.png'
      .caption.center
        %h3= @seller.full_name
        %h5= @seller.org.title
        %p
          =@seller.phone
          %br
          =@seller.email
