:javascript
  $(function(){
    $('input.filter').on('click', function(e){
      //console.log('Name: ' + e.target.name + '| Value: ' + e.target.value);

      newUrl = updateURLParam(window.location.href, e.target.name, e.target.value);
      window.location.href = newUrl;
    });

    $('select.filter').on('change', function(e){
      //console.log('Name: ' + e.target.name + '| Value: ' + e.target.value);

      newUrl = updateURLParam(window.location.href, e.target.name, e.target.value);
      window.location.href = newUrl;
    });

    function updateURLParam(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
  });
