:javascript
  jQuery(function($) {
    $("tr[data-link] td:not(.not-clickable)").click(function() {
      window.location = this.closest('tr').dataset.link
    });
  })
  function sort_by(str){
    var url = window.location.href;

    if (url.indexOf("sort_by=") >= 0) {
      var prefix = url.substring(0, url.indexOf("sort_by"));
      var suffix = url.substring(url.indexOf("sort_by"));
      suffix = suffix.substring(suffix.indexOf("=") + 1);
      suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
      url = prefix + "sort_by=" + str + suffix;
    } else if (url.indexOf("?") < 0) {
      url += "?sort_by=" + str;
    } else {
      url += "&sort_by=" + str;
    }

    if (str == "") {
      url = url.replace('sort_by=', '');
    }

    window.location.href = url;
  }
