.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 TradeBundler
          %h3 För bättre affärer
          %hr.intro-divider/
          %h3
            Inköpare eller säljare?
          = render partial: 'shared/register_btns'
