.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 TradeGuide '16
          %h3 Upphandling på egna villkor
          %hr.intro-divider/
          = render partial: 'shared/register_btns'
