.row
  .col-md-3
    .thumbnail.profile
      = image_tag 'no-profile.png'
      .caption.center
        %h3= @contact.full_name
        %h5= @contact.org.title
        %p
          =@contact.phone
          %br
          =@contact.email
