%table.table.table-hover.table-clickable
  %thead
    %tr
      %th Rubrik
      %th Deadline
      %th Offerter
  %tbody
    - specs.each do |spec|
      %tr{ class: row_class_from_status(spec.status), data: { link: "#{spec_path(spec)}" } }
        %td= spec.title
        %td= spec.deadline.try(:strftime, "%d/%m %Y") || '-'
        %td= spec.offers.count
