.page-header
  %h3
    Specifikationer
%table.table.table-striped
  %thead
    %tr
      %th Org
      %th Rubrik
      %th Skapad
      -if current_user_type == :seller
        %th
  %tbody
    - @specs.each do |spec|
      - if current_user_type == :seller
        = render partial: 'spec_item_seller', locals: { spec: spec, offered_made: current_seller.specs.pluck(:id).include?(spec.id) }
      - else
        = render partial: 'spec_item_buyer', locals: { spec: spec }
