.page-header
  %h3
    Specifikationer
%table.table.table-striped
  %thead
    %tr
      %th Org
      %th Rubrik
      %th Skapad
      -if current_user_type == :seller
        %th
  %tbody
    - @specs.each do |spec|
      %tr
        %td= spec.buyer.org.title
        %td= spec.title
        %td=l spec.created_at
        - if current_user_type == :seller
          %td
            = link_to 'Skapa offert', '#', :class => 'btn btn-success btn-xs'

