- model_class = Offer
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th Spec Org
      %th Spec Rubrik
      %th Budget
      %th Säljare
      %th Status
  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.spec.org.title
        %td= offer.spec.title
        %td= offer.budget
        %td= offer.seller.full_name
        %td Väntande

