%table.table.table-hover
  %thead
    %tr
      %th Spec Org
      %th Spec Rubrik
      %th Budget
      %th Säljare
      %th Status
  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.spec.org.title
        %td= offer.spec.title
        %td= offer.budget
        %td= offer.seller.full_name
        %td Väntande

