.row
  .col-md-3
    .thumbnail.profile
      = image_tag 'no-profile.png'
      .caption.center
        %h3= @buyer.full_name
        %h5= @buyer.org.title
        %p
          =@buyer.phone
          %br
          =@buyer.email
