html,body,#root {
  height: 100%;
}
body {
  &#landing {
    background: url('office.jpg') no-repeat;
    background-size: cover;
  }
}
#root {
  margin-top: 100px;
}

.no-click {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}

.right {
  text-align: right;
}

.left-panel {
  height: 100%;
  padding: 33px;
}
