html,body,#root {
  height: 100%;
}
body {
  &#landing {
    background: url('office.jpg') no-repeat;
    background-size: cover;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
a,
td,
li,
dt,
dd
{
  font-family: 'Martel', serif !important;
  //font-weight: 600;
}

#root {
  margin-top: 100px;
}

.left-panel {
  height: 100%;
  padding: 33px;
}

a.btn-danger:visited,a.btn-warning:visited,a.btn-success:visited {
  color: #fff !important;
}

footer#app-footer {
  height: 200px;
  width: 100%;
  margin: 0 auto;
}
