html,body,#root {
  height: 100%;
}
body {
  &#landing {
    background: url('office.jpg') no-repeat;
    background-size: cover;
  }
}
#root {
  margin-top: 100px;
}

.left-panel {
  height: 100%;
  padding: 33px;
}

a.btn-danger:visited,a.btn-warning:visited,a.btn-success:visited {
  color: #fff !important;
}
