.navbar.transparent {
  background-color: transparent;
  border: 0;
  color: #fff;
  a,a:link,a:visited {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    &.navbar-brand {
      border: 1px solid #fff;
      border-radius: 4px;
      margin: 5px 0;
      background: rgba(255, 255, 255, 0.18);
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#landing-wrapper {
  color: white;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  .button-wrapper {
    margin: 0 auto;
    width: 50%;
  }
  a {
    color: white;
  }
  .brand {
    margin: 10 auto;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .landing-box {
    text-align: center;
    //background: rgba(255, 255, 255, 0.54);
    background: transparent;
    border-radius: 4px;
    &.transparent {
      background: transparent;
    }
  }
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }
}
