.navbar-default {
  background-color: #9176cd;
  border-color: #9f87de;

  .navbar-brand {
    color: #fc0;
    opacity: 0.9;
    &:hover {
      color: #fc0;
      opacity: 1;
    }
  }

  .navbar-nav > li > a {
    color: #fff;
    opacity: .8;
    &:hover {
      color: #fff;
      opacity: 1;
    }
  }
}
