.offer-box {
	border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

  .offer-control-btns {
    margin: 60px 33px;
  }

  h5 {
    margin: 0 33px 0;
  }

  fieldset {
    margin-bottom: 30px;
  }

  legend {
    border: 0;
    width: inherit;
    padding: 0 10px;
  }

  a.docs {
    display: block;
    margin-bottom: 10px;
    opacity: .8;
  }
  a.docs:hover {
    color: #000;
    text-decoration: none;
    background: transparent;
    opacity: 1;
  }
}
